<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woops you appear to be offline</title>
    <link rel="stylesheet" href="~/bootstrap.min.css">
    <link rel="stylesheet" href="~/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">JSNet Server</a>
        </div>
    </nav>
    <div class="container mt-2">
        <div class="jumbotron">
            <h1 class="display-4">Hello, there!</h1>
            <p class="lead">Hmmm you appear to be offline, Please check your internet connection</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Refresh Page</a>
            </p>
        </div>
    </div>
</body>

</html>